#root,
.App {
  height: 100%;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#body{
  padding-top: 50px;
.data {
  width: 100%;

  .dataContent {
    height: 100%;
    .displayData {
      height: 100%;
      width: 100%;
      padding: 1em;
      border-radius: 5px;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div {
        max-width: 275px;
        margin-bottom: 1em;
      }
    }

    .newData {
      height: 100%;

      .loadContainer {
        padding: 10%;
        height: 100%;

        .fileDropArea {
          background-color: #D8D8D8;
          border-radius: 25px;
          padding: 1em;
          height: 100%;

          .content {
            height: 100%;
            display: flex;
            border: 0.26em dotted black;
            border-radius: 25px;
            align-items: center;
            flex-wrap: wrap;
            padding: 1em;

            .row {
              width: 100%;

              button {
                background-color: #383838;
                color: white;
              }
            }

            .rowCenter {
              width: 100%;
              text-align: center;

              i {
                color: #383838;
              }

              p {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
}
    .table {
      .floatLeft {
        margin-top: 1em;
        float: left;
      }
      .floatRight {
        margin-top: 1em;
        float: right;
      }
    }
  }
}
